{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block body_block %}
    <div class="page-header">
        <h1>Hi, <small>loser</small></h1>
    </div>
    Rango doesn't tell any shit... coz he doesn't give a fuck<br>
    {% if visits == 1 %}
        <strong>And only you know this</strong><br>
    {% else %}
        <strong>{{ visits }} people know this</strong><br>
    {% endif %}
    <img src="{% static "rango/images/rango.jpg" %}" alt="another picture of Rango">
{% endblock %}