<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>

<body>
    <h1>Register with Rango</h1>
    {% if registered %}
        Rango says: <strong>thanks for registering!</strong><br>
        <a href="{% url 'rango:index'%}">Home</a>
    {% else %}
        Rango says: <strong>registering here!</strong>
        <form id="user_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register">
        </form>
    {% endif %}
</body>
</html>